Hello User,

Your approval has been requested for deployment of {{artifactId}} to {{name}} environment.

The link for the deployment job is https://concord.prod.walmart.com/#/process/{{txId}}/form/approvalForm/step

Concord,
SDE - Strati
